/* Write your CSS here */
.project-card {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.project-img {
  height: 270px;
  width: 380px;
}
.visit-link {
  color: #0967d2;
  font-size: 15px;
  text-decoration: none;
}